@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base styling for your page */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
    line-height: 1.6;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

#top-header {
    background-color: #f8f9fa;
    padding: 0;
    font-size: 1.2em;
    width: 100%;
    position: fixed;
    height: 5%;
    top: 0; /* Ensure it's positioned at the very top */
}

#top-header h1 {
    margin: 0;
    padding: 10px;
    font-size: 2vh; /* Example using vh */
    color: black;
}

#navbar {
    position: fixed;
    top: 5%;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    color: gray;
    padding: 0px;
    border-right: 1px solid lightgray;
}

#navbar header {
    color: black;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

#navbar a {
    color: gray;
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
    font-size: 0.8em; /* Adjust this value to make the text smaller */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    font-weight: normal; /* Make the font non-bold */
}

#navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px; /* Adjust this value to control the starting position of the dotted line */
    right: 10px; /* Adjust this value to control the ending position of the dotted line */
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        black,
        black 1px,
        transparent 1px,
        transparent 5px /* Adjust this value to control the spacing between the dots */
    );
}

#main-doc {
    margin-left: 220px;
    padding: 20px;
    padding-top: 10%;
}

.main-section header {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 15%; /* Adjust this value based on your header height */
    margin-top: -15%; /* Adjust this value based on your header height */
}
